.navbar-brand img {
    max-width: 200px;
}

.full-width {
    width: 100%;
}

.banner {
    position: relative;
}

.banner .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

.banner .overlay h1 {
    color: #ffffff;
}

footer {
    background: #dee2e6;
    text-align: center;
    padding: 10px;
}

.login-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.login-section form {
    max-width: 60%;
    margin: 0 auto;
}
